@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-white;
}

/* Wallet adapter styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(15, 23, 42, 0.5);
}

::-webkit-scrollbar-thumb {
  background: rgba(148, 113, 113, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(168, 133, 133, 0.7);
}
